.footer{
  background: rgba(black, 0.8);
  color: #999;
  .row{
    /*Rights column settings*/
    .rights{
      height: 100%;
      h4{
        margin-left: 10px;
        text-align: left;
        font-size: 0.8em;
        font-weight: 300;
      }
    }
    /*Departments list settings*/
    .departments{
      ul{
        list-style: none;
        li{
          margin: 10px 0;
          a{
            display: block;
            text-decoration: none;
            color: #999;
            font-weight: bold;
            font-size: 0.9em;
            &:hover{
              color: white;
            }
          }
        }
      }
    }
    /*Social list settings*/
    .social{
      padding: auto;
      ul{
        list-style: none;
        li{
          display: inline-block;
          margin: 20px 30px;
          .icon{
            display: block;
            width: 30px;
            height: 30px;
            background-size: contain;
            background-repeat: no-repeat;
            &:hover{
              opacity: 0.7;
            }
          }
          /*Social icons paths*/
          .facebook{
            background-image: url("../icons/facebook.png");
          }
          .twitter{
            background-image: url("../icons/twitter.png");
          }
          .instagram{
            background-image: url("../icons/instagram.png");
          }
        }
      }
    }
  }
}
/*RWD*/
@media (max-width: 760px) {
  .footer{
    .row{
      /*Rights column settings*/
      .rights{
        width: 100%;
        h4{
          font-size: 0.8em;
        }
      }
      /*Departments list settings*/
      .departments{
        width: 100%;
        ul{
          margin: 0;
        }
      }
      /*Social list settings*/
      .social{
        padding: auto;
        width: 100%;
        ul{
          li {
            display: inline-block;
            margin: 20px 10px;
          }
        }
      }
    }
  }
}